<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="col-12 container-fluid text-right font-weight-light">
        <p class="d-inline-block tm-bg-black text-white py-2 px-4">
            &copy; Primowlsko
        </p>
    </div>
</th:block>