<th:block xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-xl navbar-light bg-light rounded">
        <a class="navbar-brand" href="#">
            <h1 class="tm-site-title mb-0">Judge v2</h1>
        </a>
        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link d-flex" href="#">
                        <span>Login</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex" href="#">
                        <span>Register</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>